ol, ul {
  padding: 0;
  list-style-type: none;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.square-win {
  background-color: #89b584;
}

.game-container {
  background-color: #dde8dc;
  border-radius: 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 250px;
}

.game-info {
  font-family: 'Lucida Console';
  text-align: center;
  width: 100%;
  margin: 20px;
}

.game-result {
  font-weight: bold;
  font-size: 30px;
  color: green;
}

.status {
  margin-bottom: 10px;
}

.game-board {
  margin: 20px;
}

.btn {
  margin: 2px;
  padding: 5px;
  background-color: #89b584;
  border: 1px solid #98b295;;
  border-radius: 5px;
  text-decoration: none;
  width: 100%;
}

.btn-active, .btn-play {
  font-weight: bold;
}

.btn:hover {
  background-color: #799376;
}

.history-hidden {
  display: none;
}
